<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Robofriends</title>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body>
  <h1>Robofriends</h1>
  <div class="container">

    {{#data}}

    <div class="card">
    
    <img src="{{avatar}}" alt="picture" /> 
    <p>{{name}}</p>

    </div>

    {{/data}}

  </div>
  </body>
</html>