body {
    color: rgb(1, 31, 32);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card {
    border: 0.5px solid rgb(1, 31, 31);
}